.sdmenu {
    width: 150px;
    font-family: Sans-Serif;
    font-size: 11px;
    padding-bottom: 10px;
    background: #eee url(bottom.gif) no-repeat  right bottom;
    color: #F00;
}

.sdmenu .title, .sdmenu .titlehidden{
    display: block;
    padding: 5px 0;
    font-weight: bold;
    color: white;
    background: #909 url(title.gif) repeat-x;
}

.sdmenu .title {
    border-bottom: 1px solid #DDD;
}

.sdmenu .arrow {
		margin-left: 10px;
    margin-right: 7px;
}

.sdmenu .titlehidden {
    border-bottom: none;
}

.sdmenu #top {
    background: url(toptitle.gif) no-repeat;
}

.sdmenu .submenu {
    overflow: hidden;
}

.sdmenu .submenu a {
    padding: 5px 0;
    text-indent: 5px;
    background: #FFF;
    display: block;
    border-bottom: 1px solid #DDD;
    color: 004488;
    text-decoration: none;
}

.sdmenu .submenu a:hover {
    background : 337799 url(linkarrow.gif) no-repeat right center;
    color: #FFF;
    
    
}