.bodytext {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #666666; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a2:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #993300; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.a1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 10pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a1:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 10pt; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #c14b25; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.link:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #c14b25; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.a3 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a3:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.linksmall {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #666666; FONT-STYLE: normal; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.linksmall:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #666666; FONT-STYLE: normal; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.textgrey {
	FONT-SIZE: 12px; COLOR: #666666; FONT-STYLE: normal; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.textbluebold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; FONT-STYLE: normal; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.textredbold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #c14b25; FONT-STYLE: normal; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.linksmall1 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #009999; FONT-STYLE: normal; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.linksmall1:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #009999; FONT-STYLE: normal; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.heading {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #428aa1; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.smalllinkunderline {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #c14b25; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.smalllinkunderline:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #c14b25; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.linksmallblue {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #c14b25; FONT-STYLE: normal; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.linksmallblue:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #c14b25; FONT-STYLE: normal; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.linkred {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #c14b25; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.linkred:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #c14b25; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.bodytextred {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #c14b25; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.smalltextleading {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.smalltextgrn {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #757d46; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.smalltextgre {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #55778a; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.smalltextblu {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #428aa1; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.smalltextyel {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #e0821e; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.smalltextora {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #e0821e; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.smalltextbro {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #c14b25; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.headingtext {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
SELECT.between {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; WIDTH: 145px; COLOR: #666666; FONT-FAMILY: Verdana, sans-serif; HEIGHT: 18px
}
SELECT.drop {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; WIDTH: 150px; COLOR: #666666; FONT-FAMILY: Verdana, sans-serif; HEIGHT: 16px
}
SELECT.drop1 {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; WIDTH: 180px; COLOR: #666666; FONT-FAMILY: Verdana, sans-serif; HEIGHT: 18px
}
SELECT.big {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; WIDTH: 115px; COLOR: #999999; FONT-FAMILY: Verdana, sans-serif; HEIGHT: 18px
}
TD.grn {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #757d46; LINE-HEIGHT: 10pt; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
TD.gre {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #55778a; LINE-HEIGHT: 10pt; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
TD.blu {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #428aa1; LINE-HEIGHT: 10pt; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
TD.yel {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #e0821e; LINE-HEIGHT: 10pt; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
TD.ora {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #e0821e; LINE-HEIGHT: 10pt; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
TD.bro {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #c14b25; LINE-HEIGHT: 10pt; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
.box {
	BORDER-RIGHT: #55778a 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #55778a 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #f1eadd; PADDING-BOTTOM: 1px; BORDER-LEFT: #55778a 1px solid; COLOR: #666666; PADDING-TOP: 1px; BORDER-BOTTOM: #55778a 1px solid; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.box:hover {
	BORDER-RIGHT: #55778a 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #55778a 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #fffaf0; PADDING-BOTTOM: 1px; BORDER-LEFT: #55778a 1px solid; COLOR: #666666; PADDING-TOP: 1px; BORDER-BOTTOM: #55778a 1px solid; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.input {
	BORDER-TOP-WIDTH: 1px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #999999; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #999999; COLOR: #333333; BORDER-TOP-COLOR: #999999; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #999999
}
.bannertext {
	FONT-WEIGHT: normal; FONT-SIZE: 20px; COLOR: #333399; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.FormTABLE {
	BORDER-TOP-WIDTH: 1px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; COLOR: #CCCCCC; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 1px
}
.inputColor {
	BORDER-TOP-WIDTH: 1px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #999999; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #999999; COLOR: #333333; BORDER-TOP-COLOR: #999999; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eeeeff; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #999999
}
.Button {
	BORDER-TOP-WIDTH: 1px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #999999; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #999999; COLOR: #333333; BORDER-TOP-COLOR: #999999; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #CCCCCC; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #999999
}
.tableBG {
	BORDER-TOP-WIDTH: 1px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #999999; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #999999; COLOR: #111111; BORDER-TOP-COLOR: #999999; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffee; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #999999
}
.tableScroll {
	BORDER-TOP-WIDTH: 1px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #9999ff; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #9999ff; COLOR: #111111; BORDER-TOP-COLOR: #9999ff; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffee; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #9999ff
}
.textOrange {
	FONT-SIZE: 13px; COLOR: #ff9900; FONT-STYLE: normal; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.BannerTABLE {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 1000px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 80px; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 0px
}
.LeftTABLE {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ceefff; BORDER-RIGHT-WIDTH: 0px
}
.copyRighttext {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.RightTableTD {
	BORDER-RIGHT: #9999ff 2px solid; PADDING-RIGHT: 3px; BORDER-TOP: #9999ff 2px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #9999ff 2px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #9999ff 2px solid; BACKGROUND-COLOR: #fffffe
}
.OsproTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #666666; FONT-STYLE: normal; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.Righttext {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #003399; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.RighttextHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #363636; LINE-HEIGHT: 12pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.LeftTABLEmain {
	BORDER-TOP-WIDTH: 1px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ceefff; BORDER-RIGHT-WIDTH: 1px
}
.DilogText {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #003399; LINE-HEIGHT: 13pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.LinkNoUnderline {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.LinkFONT {font-family: Arial, Tahoma, Verdana, Helvetica; color : #0000ff}
a:hover{ text-decoration:none; font-weight: bold }
.stepBGBlue {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; background-color: blue; TEXT-DECORATION: none
}
input.text {  
width: 250px; 
background-color: ; 
FONT-WEIGHT: ; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; background-color: ; TEXT-DECORATION: none
} 
.tblHeader {width:950px;}
.tblData {width:950px;height:440px;overflow-y:auto;}
.DataTD {border: 1px solid #000000; padding: 6px}
.DataFONT {font-family: Arial, Tahoma, Verdana, Helvetica; color: #000000; font-size: 10pt}
.DataTABLE {border: 1px double #000000; padding: 6px}
.FieldCaptionTD {border: 1px solid #000000; padding: 3px; background-color: #CEE3FD}
.textarea {font-family: Arial, Tahoma, Verdana, Helvetica; color: #000000; font-size: 12px}
